    ::ng-deep .p-dialog-content {
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    ::ng-deep .p-datepicker-input {
        border: 2px solid black !important;
        border-radius: 8px;
    }