<p-button icon="pi pi-pencil" label="Add Events" (onClick)="showDialog(false)" severity="contrast"
    [style]="{margin: '1em'}"></p-button>

<p-dialog [header]="(data && data.publicId) ? 'Update Event':'Add Event'" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem', height: '55dvh'}">
    <form [formGroup]="form" style="display: flex; flex-direction: column; gap: 1em; padding: 5%;">
        <input type="text" pInputText formControlName="title" placeholder="Title" [autofocus]="true"
            [style]="{borderRadius: '8px', padding: '5px'}" />
        <input type="text" pInputText formControlName="description" placeholder="Description"
            [style]="{borderRadius: '8px', padding: '5px'}" />

        <p-datepicker formControlName="date" [style]="{width: '100%', height: '1.825em', border: '8px'}"
            placeholder="Date" appendTo="body" [showTime]="true" [hourFormat]="'12'" />

        <div style="display: flex; gap: 3%; justify-content: space-between;">
            <p-floatlabel style="width: 30%;" variant="on">
                <input type="number" pInputText formControlName="days"
                    [style]="{borderRadius: '8px', padding: '5px', width: '100%'}" [min]="0" [max]="31" />
                <label>&nbsp;&nbsp;&nbsp;&nbsp;Days</label>
            </p-floatlabel>
            <p-floatlabel style="width: 30%;" variant="on">
                <input type="number" pInputText formControlName="hours"
                    [style]="{borderRadius: '8px', padding: '5px', width: '100%'}" [min]="0" [max]="24" />
                <label>&nbsp;&nbsp;&nbsp;&nbsp;Hours</label>
            </p-floatlabel>
            <p-floatlabel style="width: 30%;" variant="on">
                <input type="number" pInputText formControlName="minutes"
                    [style]="{borderRadius: '8px', padding: '5px', width: '100%'}" [min]="0" [max]="60" />
                <label>&nbsp;&nbsp;&nbsp;&nbsp;Minutes</label>
            </p-floatlabel>
        </div>

        <div style="align-self: flex-end; bottom: 0; position: fixed;">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" [style]="{margin: '1em'}" />
            <p-button label="Save" (click)="visible = false"
                (onClick)="(data && data.publicId) ? updateEvnt(data.publicId):addEvnt()" severity="contrast" />
        </div>
    </form>
</p-dialog>

<br>
<p-table [value]="events" [tableStyle]="{ 'min-width': '40rem' }">
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <th colspan="2">Actions</th>
            <th> 
                <p-button icon="pi pi-refresh" (onClick)="getEvnts()" severity="contrast"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-event>
        <tr>
            <td>{{ event.publicId }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.date_interval.days}} Days, {{ event.date_interval.hours}} Hours,
                {{event.date_interval.minutes}} Minutes</td>
            <td><p-button icon="pi pi-pencil" severity="contrast" (onClick)="showDialog(event)"></p-button></td>
            <td><p-button icon="pi pi-users" severity="contrast" (onClick)="getAttd(event.publicId)"></p-button></td>
            <td><p-button icon="pi pi-trash" severity="contrast" (onClick)="deleteEvnt(event.publicId)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>